openapi: 3.0.0
info:
  description: |-
    The [YCloud](https://ycloud.com) API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer). Our API is designed to have predictable, resource-oriented URLs, return [JSON](https://www.json.org) responses, and use standard HTTP response codes and verbs.
  version: v2
  title: YCloud API
  termsOfService: 'https://ycloud.com/terms-service'
  contact:
    email: service@ycloud.com
externalDocs:
  description: Homepage
  url: 'https://ycloud.com'
servers:
  - url: 'https://api.ycloud.com/v2'
    description: Base URL
security:
  - api_key: [ ]
tags:
  - name: Balance
  - name: Contacts
  - name: Custom Events
  - name: Emails
  - name: SMS
  - name: Unsubscribers
  - name: Verify
  - name: Voices
  - name: Webhook Endpoints
  - name: WhatsApp Business Accounts
  - name: WhatsApp Inbound Messages
  - name: WhatsApp Messages
  - name: WhatsApp Phone Numbers
  - name: WhatsApp Templates
paths:
  /balance:
    get:
      summary: Retrieve balance
      description: Retrieves the current account balance.
      operationId: balance-retrieve
      tags:
        - Balance
      responses:
        200:
          description: Successfully retrieved balance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
  /contact/contacts:
    post:
      summary: Create a contact
      tags:
        - Contacts
      operationId: contact-create
      description: Creates a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactCreateRequest'
        required: true
      responses:
        200:
          description: Successfully created a contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    get:
      summary: List contacts
      tags:
        - Contacts
      operationId: contact-list
      description: Returns a paginated list of contacts.
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
        - name: filter.tags
          in: query
          description: Comma-separated list of tags.
          required: false
          schema:
            type: string
            example: tag1,tag2
        - name: filter.countryCode
          in: query
          description: |-
            Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          required: false
          schema:
            type: string
            example: 'US'
        - name: filter.phoneNumber
          in: query
          description: Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          schema:
            type: string
            example: '+16315551111'
          required: false
        - name: filter.email
          in: query
          description: The contact's email address.
          schema:
            type: string
            example: 'support@example.com'
          required: false
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPage'
  /contact/contacts/{id}:
    get:
      summary: Retrieve a contact
      tags:
        - Contacts
      operationId: contact-retrieve
      description: Retrieves a contact.
      parameters:
        - $ref: '#/components/parameters/id-in_path_for_contact'
      responses:
        200:
          description: Successfully retrieved the contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update a contact
      tags:
        - Contacts
      operationId: contact-update
      description: Updates a contact.
      parameters:
        - $ref: '#/components/parameters/id-in_path_for_contact'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactUpdateRequest'
      responses:
        200:
          description: Successfully updated the contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete a contact
      tags:
        - Contacts
      operationId: contact-delete
      description: Deletes a contact.
      parameters:
        - $ref: '#/components/parameters/id-in_path_for_contact'
      responses:
        200:
          description: Successfully deleted the contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /event/definitions:
    post:
      summary: Create an event definition
      operationId: custom_events-create-definition
      tags:
        - Custom Events
      description: Creates a custom event definition.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionCreateRequest'
        required: true
      responses:
        200:
          description: Successfully created an event definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinition'
  /event/definitions/{name}:
    get:
      summary: Retrieve an event definition
      operationId: custom_events-retrieve-definition
      tags:
        - Custom Events
      description: |-
        Retrieves a custom event definition you previously created.
      parameters:
        - $ref: '#/components/parameters/name-in_path_for_custom_event'
      responses:
        200:
          description: Successfully retrieved the event definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinition'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update an event definition
      operationId: custom_events-update-definition
      tags:
        - Custom Events
      description: |-
        Updates an event definition's label and description.
      parameters:
        - $ref: '#/components/parameters/name-in_path_for_custom_event'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionUpdateRequest'
        required: true
      responses:
        200:
          description: Successfully updated the event definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinition'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /event/definitions/{name}/properties:
    post:
      summary: Create an event property definition
      operationId: custom_events-create-property-definition
      tags:
        - Custom Events
      description: Defines a new property for the event definition.
      parameters:
        - $ref: '#/components/parameters/name-in_path_for_custom_event'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionPropertyCreateRequest'
        required: true
      responses:
        200:
          description: Successfully created an event property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinitionProperty'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /event/definitions/{name}/properties/{propertyName}:
    patch:
      summary: Update an event property definition
      operationId: custom_events_update-property-definition
      tags:
        - Custom Events
      description: |-
        Updates an event property definition's label and description.
      parameters:
        - $ref: '#/components/parameters/name-in_path_for_custom_event'
        - $ref: '#/components/parameters/name-in_path_for_custom_event_property'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventDefinitionPropertyUpdateRequest'
        required: true
      responses:
        200:
          description: Successfully updated the event property definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEventDefinitionProperty'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete an event property definition
      operationId: custom_events_delete-property-definition
      tags:
        - Custom Events
      description: |-
        Deletes a property of the event definition.
      parameters:
        - $ref: '#/components/parameters/name-in_path_for_custom_event'
        - $ref: '#/components/parameters/name-in_path_for_custom_event_property'
      responses:
        200:
          description: Successfully deleted the event property definition.
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /event/events:
    post:
      summary: Send an event
      operationId: custom_events-send-event
      tags:
        - Custom Events
      description: |-
        Sends an event.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomEventSendRequest'
        required: true
      responses:
        200:
          description: Successfully sent the event.
  /emails:
    post:
      summary: Send an email
      operationId: email-send
      tags:
        - Emails
      description: Sends an outbound email message.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
        required: true
      responses:
        200:
          description: The request is successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
  /sms:
    post:
      summary: Send an SMS
      description: Sends an outbound text message.
      operationId: sms-send
      tags:
        - SMS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsSendRequest'
        description: SMS request that needs to be sent.
        required: true
      responses:
        200:
          description: The request is successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sms'
    get:
      summary: List SMS records
      tags:
        - SMS
      operationId: sms-list
      description: Returns a paginated list of SMS messages you've previously sent.
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
        - $ref: '#/components/parameters/filter_createTime_gte-default_1d'
        - $ref: '#/components/parameters/filter_createTime_lte'
        - $ref: '#/components/parameters/filter_id'
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsPage'
  /unsubscribers:
    post:
      summary: Create an unsubscriber
      description: |-
        Creates an unsubscriber.
        An unsubscriber is a configuration item representing that customers opt out of receiving messages from your business.
        **A customer and a channel form a unique identifier for an unsubscriber.**
      operationId: unsubscriber-create
      tags:
        - Unsubscribers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnsubscriberCreateRequest'
        required: true
      responses:
        200:
          description: Successfully created an unsubscriber.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
    get:
      summary: List unsubscribers
      description: Returns a paginated list of unsubscribers.
      operationId: unsubscriber-list
      tags:
        - Unsubscribers
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
        - $ref: '#/components/parameters/pageAfter'
        - name: filter.customer
          in: query
          schema:
            type: string
            description: |-
              The customer who has opted out.
            example: '+16315551111'
        - name: filter.channel
          in: query
          schema:
            $ref: '#/components/schemas/UnsubscriberChannel'
        - name: filter.regionCode
          in: query
          schema:
            type: string
            description: |-
              Region code, formatted in [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsubscriberPage'
  /unsubscribers/{customer}:
    get:
      summary: List all unsubscribers by customer
      description: Returns all unsubscribers for the specified customer.
      operationId: unsubscriber-list-all-by-customer
      tags:
        - Unsubscribers
      parameters:
        - $ref: '#/components/parameters/customer-in_path_for_unsubscriber'
      responses:
        200:
          description: Successfully retrieved the unsubscribers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Unsubscriber'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /unsubscribers/{customer}/{channel}:
    get:
      summary: Retrieve an unsubscriber
      description: Retrieves the unsubscriber for the specified customer and channel.
      operationId: unsubscriber-retrieve-by-customer-and-channel
      tags:
        - Unsubscribers
      parameters:
        - $ref: '#/components/parameters/customer-in_path_for_unsubscriber'
        - $ref: '#/components/parameters/channel-in_path_for_unsubscriber'
      responses:
        200:
          description: Successfully retrieved the unsubscribers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete an unsubscriber
      description: Deletes the unsubscriber for the specified customer and channel.
      operationId: unsubscriber-delete-by-customer-and-channel
      tags:
        - Unsubscribers
      parameters:
        - $ref: '#/components/parameters/customer-in_path_for_unsubscriber'
        - $ref: '#/components/parameters/channel-in_path_for_unsubscriber'
      responses:
        200:
          description: Successfully deleted the unsubscriber.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unsubscriber'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /verify/verifications:
    post:
      summary: Start a verification
      description: |-
        Starts a verification by sending an SMS, voice, or email message to the recipient.
        This verification is charged once the message is sent successfully.
      operationId: verification-send
      tags:
        - Verify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationSendRequest'
        description: Verification request that needs to be sent.
        required: true
      responses:
        200:
          description: The request is successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Verification'
  /verify/verificationChecks:
    post:
      summary: Check a verification
      tags:
        - Verify
      operationId: verification-check
      description: |-
        Checks a verification with a phone number, an email address, or a verification ID.
        A `pending` verification status changes to `approved` once you receive a response with the `valid` parameter is `true`. An approved verification cannot be checked anymore.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationCheckRequest'
        required: true
      responses:
        200:
          description: Successfully processed the verification check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationCheck'
  /voices:
    post:
      summary: Send a voice code
      description: Sends an outbound voice call verification code.
      operationId: voice-send
      tags:
        - Voices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSendRequest'
        description: Voice call request that needs to be sent.
        required: true
      responses:
        200:
          description: The request is successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice'
    get:
      summary: List voice records
      description: Returns a paginated list of voice calls you've previously sent.
      operationId: voice-list
      tags:
        - Voices
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
        - $ref: '#/components/parameters/filter_createTime_gte-default_1d'
        - $ref: '#/components/parameters/filter_createTime_lte'
        - $ref: '#/components/parameters/filter_id'
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePage'
  /webhookEndpoints:
    post:
      summary: Create a webhook endpoint
      tags:
        - Webhook Endpoints
      operationId: webhook_endpoint-create
      description: Creates a webhook endpoint listening for specific events.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreateRequest'
        required: true
      responses:
        200:
          description: Successfully created a webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
    get:
      summary: List webhook endpoints
      tags:
        - Webhook Endpoints
      operationId: webhook_endpoint-list
      description: Returns a paginated list of webhook endpoints.
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointPage'
  /webhookEndpoints/{id}:
    get:
      summary: Retrieve a webhook endpoint
      tags:
        - Webhook Endpoints
      operationId: webhook_endpoint-retrieve
      description: Retrieves the webhook endpoint with the given ID.
      parameters:
        - $ref: '#/components/parameters/id-in_path_for_webhook_endpoint'
      responses:
        200:
          description: Successfully retrieved the webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update a webhook endpoint
      tags:
        - Webhook Endpoints
      operationId: webhook_endpoint-update
      description: Updates a webhook endpoint, such as url, events, status.
      parameters:
        - $ref: '#/components/parameters/id-in_path_for_webhook_endpoint'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdateRequest'
        required: true
      responses:
        200:
          description: Successfully updated the webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      summary: Delete a webhook endpoint
      tags:
        - Webhook Endpoints
      operationId: webhook_endpoint-delete
      description: Deletes a webhook endpoint.
      parameters:
        - $ref: '#/components/parameters/id-in_path_for_webhook_endpoint'
      responses:
        200:
          description: Successfully deleted the webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhookEndpoints/{id}/rotateSecret:
    post:
      summary: Rotate a webhook endpoint secret
      tags:
        - Webhook Endpoints
      operationId: webhook_endpoint-rotate-secret
      description: Generates a new secret for a webhook endpoint.
      parameters:
        - $ref: '#/components/parameters/id-in_path_for_webhook_endpoint'
      responses:
        200:
          description: Successfully rotated the webhook endpoint secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/businessAccounts:
    get:
      summary: List WABAs
      tags:
        - WhatsApp Business Accounts
      operationId: whatsapp_business_account-list
      description: Returns a paginated list of WhatsApp business accounts you've registered.
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
        - $ref: '#/components/parameters/filter_accountReviewStatus-WABA'
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccountPage'
  /whatsapp/businessAccounts/{id}:
    get:
      summary: Retrieve a WABA
      tags:
        - WhatsApp Business Accounts
      operationId: whatsapp_business_account-retrieve
      description: Retrieves a WABA you've registered.
      parameters:
        - name: id
          in: path
          description: WhatsApp Business Account ID.
          required: true
          schema:
            type: string
            example: 'whatsapp-business-account-id'
      responses:
        200:
          description: Successfully retrieved the WABA.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappBusinessAccount'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/inboundMessages/{id}/markAsRead:
    post:
      summary: Mark message as read
      operationId: whatsapp_inbound_message-mark-as-read
      tags:
        - WhatsApp Inbound Messages
      description: |-
        When you receive an inbound message from webhooks, you can use this endpoint to mark the message as read. Messages marked as read display two blue check marks alongside their timestamp.
        
        Marking a message as read will also mark earlier messages in the conversation as read.
      parameters:
        - name: id
          in: path
          description: |-
            ID of the message.
            
            A wamid (i.e., the original message ID on WhatsApp's platform) is also acceptable.
          required: true
          schema:
            type: string
            example: 627c8640675de8fc689ab9d9
      responses:
        200:
          description: Successfully marked the message as read.
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/messages/sendDirectly:
    post:
      summary: Send a message directly
      operationId: whatsapp_message-send-directly
      tags:
        - WhatsApp Messages
      description: |-
        Sends an outbound WhatsApp message directly.
        
        The message is submitted to the WhatsApp Business API synchronously. Typically used for sending OTP and instant messages.
        
        The response body field `error.whatsappApiError` is included if we tried to request the WhatsApp Business API and got an error response.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        200:
          description: The request is successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
  /whatsapp/messages:
    post:
      summary: Enqueue a message
      operationId: whatsapp_message-send
      tags:
        - WhatsApp Messages
      description: |-
        Enqueues an outbound WhatsApp message for sending.
        
        Queued messages will be submitted to the WhatsApp Business API asynchronously.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappMessageSendRequest'
        required: true
      responses:
        200:
          description: The request is successfully accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
  /whatsapp/messages/{id}:
    get:
      summary: Retrieve a message
      operationId: whatsapp_message-retrieve
      tags:
        - WhatsApp Messages
      description: Retrieves a WhatsApp message you've previously sent.
      parameters:
        - $ref: '#/components/parameters/id-in_path'
      responses:
        200:
          description: Successfully retrieved the object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappMessage'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/phoneNumbers:
    get:
      summary: List phone numbers
      operationId: whatsapp_phone_number-list
      tags:
        - WhatsApp Phone Numbers
      description: Returns a paginated list of WhatsApp business phone numbers you've registered.
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
        - $ref: '#/components/parameters/filter_wabaId'
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberPage'
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}:
    get:
      summary: Retrieve a phone number
      operationId: whatsapp_phone_number-retrieve
      tags:
        - WhatsApp Phone Numbers
      description: |-
        Retrieves a WhatsApp business phone number you've registered.
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Account ID.
          required: true
          schema:
            type: string
            example: 'whatsapp-business-account-id'
        - name: phoneNumber
          in: path
          description: Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          required: true
          schema:
            type: string
            example: '+16315551111'
      responses:
        200:
          description: Successfully retrieved the object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/profile:
    get:
      summary: Retrieve a phone number profile
      operationId: whatsapp_phone_number-retrieve-profile
      tags:
        - WhatsApp Phone Numbers
      description: |-
        Retrieves a WhatsApp business phone number's profile. Customers can view your business profile by clicking your business's name or number in a conversation thread.
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Account ID.
          required: true
          schema:
            type: string
            example: 'whatsapp-business-account-id'
        - name: phoneNumber
          in: path
          description: Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          required: true
          schema:
            type: string
            example: '+16315551111'
      responses:
        200:
          description: Successfully retrieved the object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update a phone number profile
      operationId: whatsapp_phone_number-update-profile
      tags:
        - WhatsApp Phone Numbers
      description: |-
        Updates a WhatsApp business phone number profile.
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Account ID.
          required: true
          schema:
            type: string
            example: 'whatsapp-business-account-id'
        - name: phoneNumber
          in: path
          description: Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          required: true
          schema:
            type: string
            example: '+16315551111'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappPhoneNumberProfileUpdateRequest'
        required: true
      responses:
        200:
          description: Successfully updated the object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumberProfile'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/whatsappCommerceSettings:
    get:
      summary: Retrieve commerce settings
      operationId: whatsapp_phone_number-retrieve-commerce-settings
      tags:
        - WhatsApp Phone Numbers
      description: |-
        Retrieves a WhatsApp business phone number's commerce settings.
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Account ID.
          required: true
          schema:
            type: string
            example: 'whatsapp-business-account-id'
        - name: phoneNumber
          in: path
          description: Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          required: true
          schema:
            type: string
            example: '+16315551111'
      responses:
        200:
          description: Successfully retrieved the object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCommerceSettings'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Update commerce settings
      operationId: whatsapp_phone_number-update-commerce-settings
      tags:
        - WhatsApp Phone Numbers
      description: |-
        Updates a WhatsApp business phone number's commerce settings.
        Use this endpoint to enable or disable the shopping cart or the product catalog for a specific business phone number.
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Account ID.
          required: true
          schema:
            type: string
            example: 'whatsapp-business-account-id'
        - name: phoneNumber
          in: path
          description: Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          required: true
          schema:
            type: string
            example: '+16315551111'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCommerceSettingsUpdateRequest'
        required: true
      responses:
        200:
          description: Successfully updated the object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCommerceSettings'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/phoneNumbers/{wabaId}/{phoneNumber}/register:
    post:
      summary: Register a phone number
      operationId: whatsapp_phone_number-register
      tags:
        - WhatsApp Phone Numbers
      description: |-
        Registers a WhatsApp business phone number.
      parameters:
        - name: wabaId
          in: path
          description: WhatsApp Business Account ID.
          required: true
          schema:
            type: string
            example: 'whatsapp-business-account-id'
        - name: phoneNumber
          in: path
          description: Phone number ID.
          required: true
          schema:
            type: string
            example: '1234567890123456'
      responses:
        200:
          description: Successfully registered the phone number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPhoneNumber'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/templates:
    post:
      summary: Create a template
      operationId: whatsapp_template-create
      tags:
        - WhatsApp Templates
      description: Creates a WhatsApp template.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateCreateRequest'
        required: true
      responses:
        200:
          description: Successfully created a WhatsApp template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
    get:
      summary: List templates
      operationId: whatsapp_template-list
      tags:
        - WhatsApp Templates
      description: Returns a paginated list of WhatsApp templates you've previously created.
      x-group-parameters: true
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/includeTotal'
        - $ref: '#/components/parameters/filter_wabaId'
        - name: filter.name
          in: query
          description: Name of the template.
          required: false
          schema:
            type: string
            maxLength: 512
            pattern: '[a-z0-9]{1,512}'
            example: sample_whatsapp_template
        - name: filter.language
          in: query
          description: Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages) for all codes.
          required: false
          schema:
            type: string
            example: en_US
      responses:
        200:
          description: Successfully retrieved a paginated list of objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplatePage'
  /whatsapp/templates/{wabaId}/{name}:
    delete:
      summary: Delete templates by name
      operationId: whatsapp_template-delete-by-name
      tags:
        - WhatsApp Templates
      description: |-
        Deletes WhatsApp templates by name. If that template name exists in multiple languages, all languages will be deleted.
        HTTP status `404` is returned if no templates are found for the specific name.
      parameters:
        - $ref: '#/components/parameters/wabaId-in_path'
        - name: name
          in: path
          description: Name of the template.
          required: true
          schema:
            type: string
            pattern: '[a-z0-9]{1,512}'
            minimum: 1
            maximum: 512
            example: sample_whatsapp_template
      responses:
        200:
          description: Successfully deleted the template(s).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WhatsappTemplate'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /whatsapp/templates/{wabaId}/{name}/{language}:
    delete:
      summary: Delete a template
      operationId: whatsapp_template-delete-by-name-and-language
      tags:
        - WhatsApp Templates
      description: |-
        Deletes a WhatsApp template by name and language.
      parameters:
        - $ref: '#/components/parameters/wabaId-in_path'
        - name: name
          in: path
          description: Name of the template.
          required: true
          schema:
            type: string
            pattern: '[a-z0-9]{1,512}'
            minimum: 1
            maximum: 512
            example: sample_whatsapp_template
        - name: language
          in: path
          description: Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages) for all codes.
          required: true
          schema:
            type: string
            example: en_US
      responses:
        200:
          description: Successfully deleted the template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      summary: Edit a template
      operationId: whatsapp_template-edit-by-name-and-language
      tags:
        - WhatsApp Templates
      description: |-
        Edits a WhatsApp template by name and language.
        Editing a template replaces its old contents entirely, so include any components you wish to preserve as well as components you wish to update using the components parameter.
      parameters:
        - $ref: '#/components/parameters/wabaId-in_path'
        - name: name
          in: path
          description: Name of the template.
          required: true
          schema:
            type: string
            pattern: '[a-z0-9]{1,512}'
            minimum: 1
            maximum: 512
            example: sample_whatsapp_template
        - name: language
          in: path
          description: Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages) for all codes.
          required: true
          schema:
            type: string
            example: en_US
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateEditRequest'
      responses:
        200:
          description: Successfully edited the template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      summary: Retrieve a template
      operationId: whatsapp_template-retrieve-by-name-and-language
      tags:
        - WhatsApp Templates
      description: |-
        Retrieves a WhatsApp template by name and language.
      parameters:
        - $ref: '#/components/parameters/wabaId-in_path'
        - name: name
          in: path
          description: Name of the template.
          required: true
          schema:
            type: string
            pattern: '[a-z0-9]{1,512}'
            minimum: 1
            maximum: 512
            example: sample_whatsapp_template
        - name: language
          in: path
          description: Language code of the template. See [Supported Languages](https://developers.facebook.com/docs/whatsapp/api/messages/message-templates#supported-languages) for all codes.
          required: true
          schema:
            type: string
            example: en_US
      responses:
        200:
          description: Successfully retrieved the template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplate'
        404:
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-Key
      in: header
  parameters:
    channel-in_path_for_unsubscriber:
      name: channel
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/UnsubscriberChannel'
    customer-in_path_for_unsubscriber:
      name: customer
      in: path
      description: The customer who has opted out.
      required: true
      schema:
        type: string
        example: '+16315551111'
    filter_createTime_gte-default_1d:
      name: filter.createTime.gte
      in: query
      description: |-
        Return results where the `createTime` field is greater than or equal to this value. Default: One day ago from now.
      required: false
      schema:
        type: string
        format: date-time
        example: '2022-03-01T12:00:00.000Z'
    filter_createTime_lte:
      name: filter.createTime.lte
      in: query
      description: |-
        Return results where the `createTime` field is less than or equal to this value.
      required: false
      schema:
        type: string
        format: date-time
        example: '2022-03-31T12:00:00.000Z'
    filter_id:
      name: filter.id
      in: query
      description: Unique object ID on our side. Other filter parameters will be ignored if this parameter is present.
      required: false
      schema:
        type: string
    filter_wabaId:
      name: filter.wabaId
      in: query
      description: |-
        **Required if you have more than 100 WABAs.**
        WhatsApp Business Account ID.
      required: false
      schema:
        type: string
        example: 'whatsapp-business-account-id'
    filter_accountReviewStatus-WABA:
      name: filter.accountReviewStatus
      in: query
      description: WhatsApp Business Account review status.
      required: false
      schema:
        type: string
        example: 'APPROVED'
    id-in_path:
      name: id
      in: path
      description: ID of the object.
      required: true
      schema:
        type: string
        example: 627c8640675de8fc689ab9d9
    id-in_path_for_webhook_endpoint:
      name: id
      in: path
      description: ID of the webhook endpoint.
      required: true
      schema:
        type: string
        example: wh627c8640675de8fc689ab9d9
    id-in_path_for_contact:
      name: id
      in: path
      description: ID of the contact.
      required: true
      schema:
        type: string
        example: 1693364594105000026
        maxLength: 255
    includeTotal:
      name: includeTotal
      in: query
      description: Return results inside an object that contains the total result count or not.
      required: false
      schema:
        type: boolean
        default: false
    limit:
      name: limit
      in: query
      description: A limit on the number of results to be returned, or number of results per page, between 1 and 100, defaults to 10.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        default: 10
    page:
      name: page
      in: query
      description: Page number of the results to be returned, 1-based.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 100
        default: 1
    pageAfter:
      name: pageAfter
      in: query
      description: |-
        A cursor to fetch the next page in cursor pagination.
        For example, if you make a list request, receive 100 objects and `cursor.after=id:foo`, your subsequent call can include `pageAfter=id:foo` in order to fetch the next page of the list.
      required: false
      schema:
        type: string
        example: 'id:foo'
    wabaId-in_path:
      name: wabaId
      in: path
      description: WhatsApp Business Account ID.
      required: true
      schema:
        type: string
        example: 'whatsapp-business-account-id'
    name-in_path_for_custom_event:
      name: name
      in: path
      description: Name of the custom event.
      required: true
      schema:
        type: string
        example: 'unique_event_name'
        pattern: '[a-z0-9_]{1,50}'
    name-in_path_for_custom_event_property:
      name: propertyName
      in: path
      description: Name of the custom event property.
      required: true
      schema:
        type: string
        example: 'unique_property_name'
        pattern: '[a-z0-9_]{1,50}'
  schemas:
    Balance:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: number
          format: double
          description: Balance of current account.
          example: 190.0765
        currency:
          type: string
          description: |-
            Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217).
          example: USD
    Contact:
      type: object
      description: Represents a contact.
      required:
        - id
      properties:
        id:
          type: string
          description: Unique ID for the object.
          example: 1693364594105000026
          maxLength: 255
        nickname:
          type: string
          description: Contact's nickname.
          example: nickname
        countryCode:
          type: string
          description: |-
            Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          example: 'US'
        countryName:
          type: string
          description: Full country name.
        phoneNumber:
          type: string
          description: Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          example: '+16315551111'
        email:
          type: string
          description: |-
            The contact's email address.
            If present, the email address must be unique.
          example: 'support@example.com'
        lastSeen:
          type: string
          format: date-time
          description: The time at which the contact last sent a message to your business, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2022-06-01T12:00:00.000Z'
        lastMessageToPhoneNumber:
          type: string
          description: |-
            The business phone number that the contact last sent a message to.
          example: '+16315551111'
        tags:
          type: array
          description: Contact's tags.
          maxItems: 50
          items:
            type: string
            maxLength: 50
        createTime:
          type: string
          format: date-time
          description: The time at which the contact was created, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2022-06-01T12:00:00.000Z'
        customAttributes:
          type: array
          description: Contact's custom attributes.
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
        ownerEmail:
          type: string
          description: |-
            The email address of the contact's owner.
          example: 'support@example.com'
          maxLength: 250
    ContactCustomAttribute:
      type: object
      properties:
        name:
          type: string
          description: Name of the attribute that you've previously defined.
        value:
          type: object
          description: |-
            Value of the attribute.
            Its data type depends on the format of the attribute you defined:
            For Text, the `value` is a string with a maximum length of 250. 
            For Array, the `value` is an array of strings with a maximum length of 250.
            For Number, the `value` is a signed decimal number.
            For Boolean, the `value` is either `true` or `false`.
            For Time, the `value` is a Unix timestamp in milliseconds.
            For Long Text, the `value` is a string with a maximum length of 5000.
    ContactCreateRequest:
      type: object
      description: Contains the properties of the contact to be created.
      required:
        - phoneNumber
      properties:
        nickname:
          type: string
          description: |-
            Contact's nickname. Maximum length: 250 characters.
          example: nickname
          maxLength: 250
        phoneNumber:
          type: string
          description: Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          example: '+16315551111'
        countryCode:
          type: string
          description: |-
            Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          example: 'US'
        email:
          type: string
          description: |-
            Contact's email address.
            If present, the email address must be unique.
          example: 'support@example.com'
          maxLength: 250
        tags:
          type: array
          description: |-
            Contact's tags. Max items: 50. Max characters per tag: 50.
          maxItems: 50
          items:
            type: string
            description: |-
              Tag. Maximum length: 50 characters.
            maxLength: 50
        customAttributes:
          type: array
          description: Contact's custom attributes.
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
        ownerEmail:
          type: string
          description: |-
            The email address of the contact's owner.
          example: 'support@example.com'
          maxLength: 250
    ContactPage:
      type: object
      description: Represents a given page of contacts.
      allOf:
        - $ref: '#/components/schemas/Page'
      properties:
        items:
          description: An array containing contact objects.
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    ContactUpdateRequest:
      type: object
      description: Contains the properties of the contact to be updated.
      properties:
        nickname:
          type: string
          description: |-
            Contact's nickname. Maximum length: 250 characters.
          example: nickname
          maxLength: 250
        phoneNumber:
          type: string
          description: Unique Phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          example: '+16315551111'
        countryCode:
          type: string
          description: |-
            Two-letter country abbreviation. See [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          example: 'US'
        email:
          type: string
          description: |-
            The contact's email address.
            If present, the email address must be unique.
          example: 'support@example.com'
          maxLength: 250
        tags:
          type: array
          description: |-
            Contact's tags. Maximum items: 50.
          maxItems: 50
          items:
            type: string
            description: |-
              Tag. Maximum length: 50 characters.
            maxLength: 50
        customAttributes:
          type: array
          description: |-
            Contact's custom attributes.
            If present (i.e., not `null`), all previous attributes of this contact will be replaced.
          items:
            $ref: '#/components/schemas/ContactCustomAttribute'
        ownerEmail:
          type: string
          description: |-
            The email address of the contact's owner.
          example: 'support@example.com'
          maxLength: 250
    CustomEventDefinition:
      type: object
      description: Represents a custom event definition.
      properties:
        name:
          type: string
          description: The name of the custom event definition.
          example: 'propertyName'
        label:
          type: string
          description: The label of the event definition, used for display purposes.
          maxLength: 50
          example: 'Property Label'
        description:
          type: string
          description: The description of the event definition.
          example: 'Describes this property'
        objectType:
          type: string
          description: |-
            Type of the object that the event will be associated with.
            - `CONTACT`: Indicates that the object is a `contact`.
          enum:
            - CONTACT
          example: 'CONTACT'
        createTime:
          type: string
          format: date-time
          description: The time at which this object is created, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2024-08-22T00:00:00.000Z'
        properties:
          type: array
          description: The list of property definitions for the event definition.
          items:
            $ref: '#/components/schemas/CustomEventDefinitionProperty'
    CustomEventDefinitionCreateRequest:
      type: object
      description: Contains the properties of the custom event definition to be created.
      required:
        - name
        - label
        - objectType
      properties:
        name:
          type: string
          description: The unique name of the custom event.
          pattern: '^[a-z0-9_]{1,50}'
          example: 'unique_event_name'
          maxLength: 50
        label:
          type: string
          description: The label of the custom event.
          example: 'My event label'
        description:
          type: string
          description: The description of the event.
          example: 'Describes this event'
          maxLength: 200
        objectType:
          type: string
          description: |-
            Type of the object that the event will be associated with.
            - `CONTACT`: Indicates that the object is a `contact`.
          enum:
            - CONTACT
          example: CONTACT
        properties:
          type: array
          description: A list of property definitions for the event.
          items:
            $ref: '#/components/schemas/CustomEventDefinitionPropertyCreateRequest'
    CustomEventDefinitionProperty:
      type: object
      description: Represents a custom property of a custom event definition.
      properties:
        name:
          type: string
          description: The name of the custom property.
          example: 'propertyName'
        label:
          type: string
          description: The label of the property, used for display purposes.
          maxLength: 50
          example: 'Property Label'
        description:
          type: string
          description: The description of the property.
          example: 'Describes this property'
        createTime:
          type: string
          format: date-time
          description: The time at which this object is created, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2024-08-22T00:00:00.000Z'
        type:
          type: string
          description: |-
            The data type of the property.
            - `STRING`: Indicates a property that receives plain text strings.
            - `NUMBER`: Indicates a property that receives numeric values with up to one decimal.
            - `TIMESTAMP`: Indicates a property that receives epoch millisecond.
            - `URL`: Indicates a property that receives URLs, formatted as strings starting with `http://` or `https://`.
          enum:
            - STRING
            - NUMBER
            - TIMESTAMP
            - URL
    CustomEventDefinitionPropertyCreateRequest:
      type: object
      description: Contains the properties of the custom event property definition to be created.
      required:
        - name
        - label
        - type
      properties:
        name:
          type: string
          description: The unique name of the custom property.
          pattern: '^[a-z][a-z0-9_]{1,50}$'
          maxLength: 50
          example: 'unique_property_name'
        label:
          type: string
          description: The label of the property.
          maxLength: 50
          example: 'Property Label'
        description:
          type: string
          description: The description of the property.
          example: 'Describes this property'
        type:
          type: string
          description: |-
            Type of the property.
            - `STRING`: Indicates a property that receives plain text strings.
            - `NUMBER`: Indicates a property that receives numeric values with up to one decimal.
            - `TIMESTAMP`: Indicates a property that receives epoch millisecond.
            - `URL`: Indicates a property that receives URLs, formatted as strings starting with `http://` or `https://`.
          enum:
            - STRING
            - NUMBER
            - TIMESTAMP
            - URL
          example: STRING
    CustomEventDefinitionPropertyUpdateRequest:
      type: object
      description: Contains the properties of the event property definition to be updated.
      properties:
        label:
          type: string
          description: The label of the event property definition.
          example: 'New label'
        description:
          type: string
          description: The description of the event property definition.
          example: 'Describes the event property'
    CustomEventDefinitionUpdateRequest:
      type: object
      description: Contains the properties of the custom event definition to be updated.
      properties:
        label:
          type: string
          description: The label of the event definition.
          example: 'New Label'
        description:
          type: string
          description: The description of the event definition.
          example: 'Describes the event definition'
    CustomEventSendRequest:
      type: object
      description: Contains the properties of the custom event data to be sent.
      required:
        - eventName
      properties:
        eventName:
          type: string
          description: |-
            Name of the event.
            One of the custom event names you previously defined.
          example: 'unique_event_name'
        occurTime:
          type: string
          format: date-time
          description: |-
            The time at which the event occurred, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`,
            if not provided, the current time will be used.
          example: '2022-06-01T12:00:00.000Z'
        objectId:
          type: string
          description: |-
            ID of the object that the event is associated with.
            For events defined with `objectType` as `CONTACT`, the `objectId` should be a `contact` ID. Alternatively, you can use the `contactPhoneNumber` field to specify the contact.
        contactPhoneNumber:
          type: string
          description: |-
            The phone number of the contact for events defined with `objectType` as `CONTACT`.
        properties:
          type: object
          description: The properties of the custom event.
          additionalProperties:
            type: object
          example:
            property1: 'value1'
            property2: 'value2'
    Email:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Unique ID for the object.
          minLength: 6
          maxLength: 128
        from:
          $ref: '#/components/schemas/Mailbox'
          description: The sender's email address.
        to:
          type: array
          description: The intended recipients' email addresses.
          items:
            $ref: '#/components/schemas/Mailbox'
        cc:
          type: array
          description: Recipients who will receive a copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
        bcc:
          type: array
          description: Recipients who will receive a blind carbon copy of the email.
          items:
            $ref: '#/components/schemas/Mailbox'
        replyTo:
          type: array
          description: If this field exists, then the reply should go to the addresses indicated in that field and not to the address(es) indicated in the `from` field.
          items:
            $ref: '#/components/schemas/Mailbox'
        subject:
          type: string
          description: |-
            The email subject, which contains a short string identifying the topic of the message.
          maxLength: 255
        summary:
          type: string
          description: |-
            This is a summary of your email. Max length: 70.
          example: This is a summary.
          maxLength: 70
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        externalId:
          type: string
          description: |-
            A unique (recommended) string to reference the object. This can be an order number or similar, and can be used to reconcile the object with your internal systems.
        callbackUrl:
          type: string
          description: |-
            Delivery report URL. You can provide a URL, and we will push the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.
            Note: We recommend configuring Webhook Endpoints instead.
          example: https://httpbin.org/anything?tag=api-email
        createTime:
          type: string
          format: date-time
          description: The time at which this message was created, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2022-06-01T12:00:00.000Z'
        totalRecipients:
          type: integer
          format: int32
          description: Total recipients of this message, including `to`, `cc` and `bcc`.
          example: 3
        totalPrice:
          type: number
          format: double
          description: Total price of this message.
          example: 0.0085
        currency:
          type: string
          description: |-
            Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217).
          example: USD
    EmailContentType:
      type: string
      description: The MIME type of the email content (`text/html` or `text/plain`). Be aware that We won't count click and open events for the type `text/plain`.
      enum:
        - text/html
        - text/plain
      x-enum-varnames:
        - TEXT_HTML
        - TEXT_PLAIN
    EmailDelivery:
      type: object
      description: Represents an email delivery report.
      required:
        - emailId
        - recipientAddress
      properties:
        emailId:
          type: string
          description: Unique ID for the related email you've previously sent.
          minLength: 6
          maxLength: 128
        recipientAddress:
          type: string
          description: A recipient's email address.
          example: tom@example.com
        status:
          type: string
          description: |-
            Delivery status of the email to the specific recipient address.
            - `sending`: The messaging request is accepted by our system.
            - `failed`: The message failed to be sent from our system.
            - `sent`: The message has been sent from our system.
            - `delivered`: Our system has received a delivery receipt indicating that message is delivered.
            - `undelivered`: Our system has received a delivery receipt indicating that message is not delivered.
          enum:
            - sending
            - failed
            - sent
            - delivered
            - undelivered
          example: failed
        errorCode:
          type: string
          description: Error code when the email is undeliverable.
          example: 402
        errorMessage:
          type: string
          description: Error message when the email is undeliverable.
          example: Unsubscribes
        externalId:
          type: string
          description: The `externalId` you set when you sent the email.
        bizType:
          type: string
          description: |-
            This can be either empty or one of `email`, or `verify`. Defaults to `email`.
            - `email`: Indicates that the message is sent via the **Email** product.
            - `verify`: Indicates that the message is sent via the **Verify** product.
          example: 'email'
        verificationId:
          type: string
          description: |-
            The verification ID. Included only when `bizType` is `verify`.
          example: VERIFICATION-ID
    EmailSendRequest:
      type: object
      required:
        - from
        - to
        - subject
        - content
      properties:
        from:
          type: string
          description: |-
            - The sender's email. Its domain should be one that has been registered and activated in your account.
            - The sender's email address is required while the sender's name is optional. For example, both `support@example.com` and `Sender<support@example.com>` work.
          example: 'SupportTeam<support@example.com>'
        to:
          type: string
          description: |-
            - The intended recipients' email addresses.
            - Supports a comma-separated list of one or more addresses. Max items: 100.
          example: 'to1@example.com,Nick<to2@example.com>'
        subject:
          type: string
          description: |-
            The email subject, which contains a short string identifying the topic of the message. Max length: 255.
          maxLength: 255
        content:
          type: string
          description: |-
            - The email body. Max size: 150 KB.
            - Variables in the form of `#var_1#` are supported, they should be used together with the `variables` parameter. Variable keys only support letters, digits, and the underline character (`_`).
            - You can use the [Test Templates](https://help.ycloud.com/en/articles/6006545) provided by YCloud for testing.
          example: |-
            This is a test message from #nick#.
        contentType:
          $ref: '#/components/schemas/EmailContentType'
        variables:
          type: array
          description: |-
            - The variable key-value pairs that will replace the variable placeholders in `content` for each recipient. Variable keys are those that are wrapped with `#` as placeholders (e.g., `#var_1#`) in `content`. The placeholders will be replaced by variable values when sending the email.
            - The size of the array must be the same as the number of recipients in `to`. Be aware that `cc` and `bcc` addresses are excluded, and they can not receive emails that contain variables.
            - This parameter's size will be calculated together with the parameter `content`. The whole size must not exceed 150 KB.
          items:
            type: object
            description: Variable key-value pair.
            additionalProperties:
              type: string
        cc:
          type: string
          description: Recipients who will receive a copy of the email.
          example: 'cc1@example.com,Nick<cc2@example.com>'
        bcc:
          type: string
          description: Recipients who will receive a blind carbon copy of the email.
          example: 'bcc1@example.com,Nick<bcc2@example.com>'
        replyTo:
          type: string
          description: If this field exists, then the reply should go to the addresses indicated in that field and not to the address(es) indicated in the `from` field.
        summary:
          type: string
          description: |-
            This is a summary of your email. Max length: 70.
          example: This is a summary.
          maxLength: 70
        externalId:
          type: string
          description: |-
            A unique (recommended) string to reference the object. This can be an order number or similar, and can be used to reconcile the object with your internal systems.
        callbackUrl:
          type: string
          description: |-
            Delivery report URL. You can provide a URL, and we will push the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.
            Note: We recommend configuring Webhook Endpoints instead.
          example: https://httpbin.org/anything?tag=api-email
    Error:
      type: object
      required:
        - status
        - code
      properties:
        status:
          type: integer
          format: int32
          pattern: '[45]\d{2}'
          description: HTTP status code, [RFC 7231, Section 6](https://datatracker.ietf.org/doc/html/rfc7231#section-6). It conveys the HTTP status code used for the convenience of the consumer.
          example: 404
        code:
          type: string
          description: One of a server-defined error codes. Some `4xx` errors that could be handled programmatically include an error code that briefly explains the error reported.
          example: NOT_FOUND
        message:
          type: string
          description: A human-readable representation of the error. It is intended as an aid to developers and is not suitable for exposure to end users.
          example: The requested resource does not exist.
        target:
          type: string
          description: The target of the error.
          example: ''
        docUrl:
          type: string
          description: A URL to more information about the error.
          example: ''
        requestId:
          type: string
          description: Each API request has an associated request ID. It conveys the response header `YCloud-Request-ID` used for the convenience of the consumer.
          example: 'req_1KjtKI80IKoaJNa6n6p'
        whatsappApiError:
          $ref: '#/components/schemas/WhatsappApiError'
          description: |-
            The original error object returned by WhatsApp. See [Handling Errors](https://developers.facebook.com/docs/graph-api/guides/error-handling), [Cloud API Error Codes](https://developers.facebook.com/docs/whatsapp/cloud-api/support/error-codes).
            
            Note: This field is returned if we tried to request the WhatsApp Business API and got an error response. Typically used for **Send a WhatsApp message directly** API.
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Event:
      type: object
      description: |-
        Represents a webhook event payload.
        Every event contains certain common properties: `id`, `type`, `apiVersion`, `createTime`.
        Each event may also contain some properties unique to the event. For example, `sms` is returned when `type` is `sms.message.updated`.
      required:
        - id
        - type
        - apiVersion
        - createTime
      properties:
        id:
          type: string
          description: Unique ID for the event.
          minLength: 6
          maxLength: 128
        type:
          $ref: '#/components/schemas/EventType'
        apiVersion:
          type: string
          description: The API version used to render this event.
          example: v2
        createTime:
          type: string
          format: date-time
          description: The time at which this event was created, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2022-06-01T12:00:00.000Z'
        emailDelivery:
          $ref: '#/components/schemas/EmailDelivery'
          description: Included when `type` is `email.delivery.updated`.
        sms:
          $ref: '#/components/schemas/Sms'
          description: Included when `type` is `sms.message.updated`.
        smsInbound:
          $ref: '#/components/schemas/SmsInbound'
          description: Included when `type` is `sms.inbound.received`.
        voice:
          $ref: '#/components/schemas/Voice'
          description: Included when `type` is `voice.message.updated`.
        whatsappBusinessAccount:
          $ref: '#/components/schemas/WhatsappBusinessAccount'
          description: Included when `type` is `whatsapp.business_account.deleted`, `whatsapp.business_account.reviewed`, or `whatsapp.business_account.updated`.
        whatsappInboundMessage:
          $ref: '#/components/schemas/WhatsappInboundMessage'
          description: Included when `type` is `whatsapp.inbound_message.received`.
        whatsappMessage:
          $ref: '#/components/schemas/WhatsappMessage'
          description: Included when `type` is `whatsapp.message.updated`.
        whatsappPhoneNumber:
          $ref: '#/components/schemas/WhatsappPhoneNumber'
          description: Included when `type` is `whatsapp.phone_number.deleted`, `whatsapp.phone_number.name_updated`, or `whatsapp.phone_number.quality_updated`.
        whatsappPayment:
          $ref: '#/components/schemas/WhatsappPayment'
          description: Included when `type` is `whatsapp.payment.updated`.
        whatsappTemplate:
          $ref: '#/components/schemas/WhatsappTemplate'
          description: Included when `type` is `whatsapp.template.reviewed`, `whatsapp.template.quality_updated`, or `whatsapp.template.category_updated`.
    EventType:
      type: string
      description: Type of event.
      enum:
        - email.delivery.updated
        - sms.message.updated
        - sms.inbound.received
        - voice.message.updated
        - whatsapp.business_account.deleted
        - whatsapp.business_account.reviewed
        - whatsapp.business_account.updated
        - whatsapp.inbound_message.received
        - whatsapp.message.updated
        - whatsapp.phone_number.deleted
        - whatsapp.phone_number.name_updated
        - whatsapp.phone_number.quality_updated
        - whatsapp.template.category_updated
        - whatsapp.template.quality_updated
        - whatsapp.template.reviewed
      x-enum-descriptions:
        - Occurs when an email delivery status is updated, and the status changes to `delivered` or `failed`.
        - Occurs when an SMS message status is updated, and the status changes to `delivered` or `undelivered`.
        - Occurs when an SMS inbound message is received, which means a user replies to your message.
        - Occurs when a voice message status is updated, and the status changes to `delivered` or `undelivered`.
        - Occurs when a WhatsApp Business Account is deleted.
        - Occurs when a WhatsApp Business Account has been reviewed.
        - Occurs when a policy violation happened, WhatsApp Business Account has been banned and more.
        - Occurs when a WhatsApp inbound message is received.
        - Occurs when a WhatsApp outbound message status is updated, and the status changes to `sent`, `failed`, `delivered`, or `read`.
        - Occurs when a WhatsApp business phone number is deleted.
        - Occurs when a WhatsApp business phone number's name has been approved or rejected.
        - Occurs when a WhatsApp business phone number's quality-related status is updated, and the status changes to `GREEN`, `YELLOW`, or `RED`.
        - Occurs when a WhatsApp template category is updated.
        - Occurs when a WhatsApp template quality rating is updated.
        - Occurs when a WhatsApp template status is updated, and the status changes to `REJECTED`, `APPROVED`, `PAUSED`, `DISABLED`, or `IN_APPEAL`.
    Mailbox:
      type: object
      description: Represents a mailbox.
      properties:
        name:
          type: string
          description: Name of the mailbox.
          example: 'Support Team'
        address:
          type: string
          description: Address of the mailbox.
          example: team@example.com
    MetaBusinessAccountVerificationStatus:
      type: string
      description: Current status of business verification of Meta Business Account which owns this WhatsApp Business Account.
      enum:
        - expired
        - failed
        - ineligible
        - not_verified
        - pending
        - pending_need_more_info
        - pending_submission
        - rejected
        - revoked
        - verified
    Page:
      type: object
      description: Represents a given page of items.
      required:
        - offset
        - limit
        - length
      properties:
        offset:
          description: |-
            The position of the item this page starts from, zero-based. e.g., the 11th item is at offset 10.
          type: integer
          format: int32
          minimum: 0
        limit:
          description: A limit on the number of items to be returned, between 1 and 100, defaults to 10.
          type: integer
          format: int32
          minimum: 1
        length:
          description: The actual number of items in the page.
          type: integer
          format: int32
          minimum: 0
        total:
          description: The total number of items. This field is returned only when the request parameter `includeTotal` is set to `true`.
          type: integer
          format: int32
          minimum: 0
        items:
          type: array
          items:
            type: object
    PageCursor:
      type: object
      description: |-
        A cursor object is returned only if the endpoint you requested supports cursor pagination.
      properties:
        after:
          type: string
          description: |-
            A cursor to fetch the next page in cursor pagination.
            For example, if you make a list request, receive 100 objects and `cursor.after=id:foo`, your subsequent call can include `pageAfter=id:foo` in order to fetch the next page of the list.
            This field is returned only if there are more items in the list.
          example: 'id:foo'
    Sms:
      type: object
      required:
        - id
        - to
      properties:
        id:
          type: string
          description: Unique ID for the object.
          minLength: 6
          maxLength: 128
        to:
          type: string
          description: The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          example: '+16315551111'
        text:
          type: string
          description: The text of this message.
          example: Your verification code is 123456.
        senderId:
          type: string
          description: Sender ID to be used.
          example: Brand
        regionCode:
          type: string
          description: |-
            [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
          example: 'US'
        totalSegments:
          type: integer
          format: int32
          minimum: 1
          description: Number of message segments. See [SMS character encoding](https://help.ycloud.com/en/articles/3083427-sms-character-encoding) for more info.
          example: 1
        totalPrice:
          type: number
          format: double
          description: Total price of this message.
          example: 0.0085
        currency:
          type: string
          description: |-
            Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217).
          example: USD
        status:
          type: string
          description: |-
            Delivery status. One of `accepted`, `sent`, `delivered`, `undelivered`, or `failed`.
            - `accepted`: The messaging request is accepted by our system.
            - `failed`: The message failed to be sent from our system.
            - `sent`: The message has been sent from our system.
            - `delivered`: Our system has received a delivery receipt indicating that message is delivered.
            - `undelivered`: Our system has received a delivery receipt indicating that message is not delivered.
          example: sent
          enum:
            - accepted
            - failed
            - sent
            - delivered
            - undelivered
        errorCode:
          type: string
          description: Error code when the message is undeliverable.
        createTime:
          type: string
          format: date-time
          description: The time at which this message was created, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-03-01T12:00:00.000Z`.
          example: '2022-03-01T12:00:00.000Z'
        updateTime:
          type: string
          format: date-time
          description: The time at which the delivery report for this message was updated, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-03-01T12:00:00.000Z`.
          example: '2022-03-01T12:00:00.000Z'
        externalId:
          type: string
          description: |-
            A unique (recommended) string to reference the object. This can be an order number or similar, and can be used to reconcile the object with your internal systems.
        callbackUrl:
          type: string
          description: |-
            Delivery report URL. You can provide a URL, and we will push the updated status report to your server in time. e.g., https://httpbin.org/anything?tag=api.
            Note: We recommend configuring Webhook Endpoints instead.
          example: https://httpbin.org/anything?tag=api-sms
        bizType:
          type: string
          description: |-
            This can be either empty or one of `sms`, or `verify`. Defaults to `sms`.
            - `sms`: Indicates that the message is sent via the **SMS** product.
            - `verify`: Indicates that the message is sent via the **Verify** product.
          example: 'sms'
        verificationId:
          type: string
          description: |-
            The verification ID. Included only when `bizType` is `verify`.
          example: VERIFICATION-ID
    SmsInbound:
      type: object
      description: Represents an inbound SMS message, which means a user replies to your message.
      properties:
        id:
          type: string
          description: Unique ID of the message.
        from:
          type: string
          description: The user's phone number who sent the message to your registered sender ID, formatted in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          example: '+16315551111'
        to:
          type: string
          description: The receiver's phone number, which is one of your registered Sender IDs.
        text:
          type: string
          description: The text of this message.
        sendTime:
          type: string
          format: date-time
          description: The time at which this message was sent, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2022-06-01T12:00:00.000Z'
    SmsPage:
      type: object
      description: Represents a given page of SMS messages.
      allOf:
        - $ref: '#/components/schemas/Page'
      properties:
        items:
          description: An array containing SMS objects.
          type: array
          items:
            $ref: '#/components/schemas/Sms'
    UnsubscriberPage:
      type: object
      description: Represents a given page of unsubscriber objects.
      allOf:
        - $ref: '#/components/schemas/Page'
      properties:
        items:
          description: An array containing unsubscriber objects.
          type: array
          items:
            $ref: '#/components/schemas/Unsubscriber'
        cursor:
          $ref: '#/components/schemas/PageCursor'
    Verification:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: ID of the verification.
          example: ve6j7n8i
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          type: string
          description: Recipient of the verification.
          example: '+16315551111'
        channel:
          $ref: '#/components/schemas/VerificationChannel'
        sendTime:
          type: string
          format: date-time
          description: The time at which this verification was sent, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., `2022-06-01T12:00:00.000Z`.
          example: '2022-06-01T12:00:00.000Z'
        totalPrice:
          type: number
          format: double
          description: |-
            Total price of this verification.
          example: 0.0085
        currency:
          type: string
          description: |-
            Price currency. [ISO 4217 currency code](https://en.wikipedia.org/wiki/ISO_4217).
          example: USD
        smsFallbackEnabled:
          type: boolean
          description: |-
            Whether sms fallback is enabled or not.
            Applicable when `channel` is `whatsapp`. If enabled, we will try to send the verification code via sms when the WhatsApp message is failed.
        smsFallback:
          $ref: '#/components/schemas/VerificationFallback'
          description: Included when `smsFallbackEnabled` is `true`.
        externalId:
          type: string
          description: |-
            A unique (recommended) string to reference the object. This can be an order number or similar, and can be used to reconcile the object with your internal systems.
    VerificationChannel:
      type: string
      description: |-
        Supports several independent channels for verification:
        - `sms`: Sends an SMS message with a verification code.
        - `voice`: Makes a voice call with a verification code.
        - `email_code`: Sends an email with a verification code.
        - `whatsapp`: Sends a WhatsApp message with a verification code.
      enum:
        - sms
        - voice
        - email_code
        - whatsapp
      example: sms
    VerificationCheck:
      type: object
      required:
        - id
        - valid
      properties:
        id:
          type: string
          description: ID of this verification check.
          example: vc8f92c20
        valid:
          type: boolean
          description: Whether the verification code is valid for this check.
          example: false
        status:
          $ref: '#/components/schemas/VerificationStatus'
        to:
          type: string
          description: The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format or email address.
          example: '+16315551111'
        channel:
          $ref: '#/components/schemas/VerificationChannel'
    VerificationCheckRequest:
      type: object
      properties:
        verificationId:
          type: string
          description: ID of the verification to be checked. One of `verificationId` or `to` is required.
          example: vid
        to:
          type: string
          description: The recipient's phone number or email address. One of `verificationId` or `to` is required.
          example: '+16315551111'
        code:
          type: string
          description: The verification to be checked.
          example: '123456'
    VerificationFallback:
      type: object
      description: Contains information about verification fallback. For example, you can enable sms fallback for WhatsApp verification messages.
      properties:
        supported:
          type: boolean
          description: Whether this fallback you requested is supported. If `false` is returned, it means that there are errors for this fallback, and this fallback will not be triggered.
        unsupportedReason:
          type: string
          description: The reason why the fallback is unsupported, e.g, `PARAM_INVALID`, `SMS_SIGNATURE_UNAVAILABLE`, `SENDER_ID_UNAVAILABLE`, or `MESSAGING_REGION_UNSUPPORTED`.
          example: SENDER_ID_UNAVAILABLE
        unsupportedDetail:
          type: string
          description: The detail message why the fallback is unsupported.
          example: This Sender ID is not registered.
    VerificationSendRequest:
      type: object
      required:
        - channel
        - to
      properties:
        channel:
          $ref: '#/components/schemas/VerificationChannel'
        to:
          type: string
          description: |-
            The recipient's phone number or email address depending on `channel`.
            - Phone number: In [E.164](https://en.wikipedia.org/wiki/E.164) format. Applicable when `channel` is `sms` or `voice`.
            - Email address: For example, `tom@example.com`. Applicable when `channel` is `email_code`.
          example: '+16315551111'
        code:
          type: string
          description: Verification code to be sent. This field is optional. If not provided, we will automatically generate a code.
          maxLength: 8
          minLength: 4
          example: '123456'
        senderId:
          type: string
          description: |-
            [Sender ID](https://help.ycloud.com/en/articles/3080386) to be used.
          example: Brand
        signature:
          type: string
          description: This parameter is only required for Chinese mainland SMS messages. You must specify an approved signature such as `Brand`. It will be added to the beginning of SMS body and wrapped with `【】`, e.g. `【Brand】Your verification code is 123456`.
          example: Brand
        language:
          type: string
          description: |-
            [ISO 639 Language Code](https://www.iso.org/iso-639-language-codes.html). If not specified, language will be set as `en` by default. Notably, in certain countries or regions, language will be automatically set as the local language due to the regional restrictions.
            Applicable languages:
            `ar`: Arabic
            `de`: German
            `en`: English
            `es`: Spanish
            `fr`: French
            `id`: Indonesian
            `it`: Italian
            `pt_BR`: Portuguese
            `ru`: Russian
            `tr`: Turkish
            `vi`: Vietnamese
            `zh_CN`: Simplified Chinese
            `zh_HK`: Traditional Chinese
          example: en
        externalId:
          type: string
          description: |-
            A unique (recommended) string to reference the object. This can be an order number or similar, and can be used to reconcile the object with your internal systems.
            If present, this value will also be attached to the `externalId` of message objects.
    VerificationStatus:
      type: string
      description: |-
        Status of the verification.
        - `pending`: The verification message (SMS, Voice, etc.) is sent, waiting to be checked. This happens when you call the 'Start a verification' API successfully.
        - `approved`: The verification has been successfully checked. A `pending` verification status changes to `approved` when you call the 'Check a verification' API and receive a response with the `valid` parameter is `true`. An approved verification cannot be checked anymore.
        - `blocked`: The verification is blocked by user-defined rules such as denylist, and geographical permission restrictions. A blocked verification cannot be checked.
        - `expired`: The verification has expired and cannot be checked anymore.
        - `undelivered`: Our system has received a delivery receipt indicating that the verification message was not delivered. An undelivered verification cannot be checked anymore.
      enum:
        - pending
        - approved
        - blocked
        - expired
        - undelivered
    SmsSendRequest:
      type: object
      required:
        - to
        - text
      properties:
        to:
          type: string
          description: The recipient's phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.
          example: '+16315551111'
        text:
          type: string
          description: The text of this message.
          example: Your verification code is 123456.
        senderId:
          type: string
          description: |-
            [Sender ID](https://help.ycloud.com/en/articles/3080386) to be used.
          example: Brand
        signature:
          type: string
          description: This parameter is only required for Chinese mainland SMS messages. You must specify an approved signature such as `Brand`. It will be added to the beginning of SMS body and wrapped with `【】`, e.g. `【Brand】Your verification code is 123456`.
          example: Brand
        externalId:
          type: string
          description: |-
            A unique (recommended) string to reference the object. This can be an order number or similar, and can be used to reconcile the object with your internal systems.
        callbackUrl:
          type: string
          description: |-
[...]
